{% extends "base_generic.html" %}

{% block content %}
<div class="card mt-3 mx-auto" style="width: 350px;">
    <article class="card-body">
        <h4 class="card-title mt-3 text-center">Enter your email</h4>
        <form method="POST" action="">
        {% csrf_token %}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            <p class="text-danger text-center">{{error}}</p>
            {% endfor %}
        {% endif %}       
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="email" class="form-control" placeholder="Email" type="text">
        </div> <!-- form-group// -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Reset password </button>
        </div> <!-- form-group// -->                                                                   
        </form>
    </article>    
</div>
{% endblock content %}

